<div class="comment-system">
    <div class="blogger" style="display: block;">
        <div class="comments" id="comments">
            <a name="comments"></a>
            <h4><span class="tl-wrapIn">2 comments so far,Add yours</span></h4>
            <div class="comments-content">
                <div id="comment-holder">
                    <div id="bc_0_3C" kind="c">
                        <div id="bc_0_3CT">
                            <div id="bc_0_2T" class="comment-thread" kind="r" t="0" u="0">
                                <ol id="bc_0_2TB">
                                    <li id="bc_0_0B" class="comment" kind="b">
                                        <div class="avatar-image-container">
                                            <img src="//lh3.googleusercontent.com/zFdxGE77vvD2w5xHy6jkVuElKv-U9_9qLkRYK8OnbDeJPtjSZ82UPq5w6hJ-SA=s35">
                                        </div>
                                        <div id="c3928784330424662927" class="comment-block">
                                            <div id="bc_0_0M" class="comment-header" kind="m">
                                                <cite class="user blog-author"><a rel="nofollow" href="https://www.blogger.com/profile/14961416080560991537">Mohammad Qasim</a></cite>
                                                <span class="icon user blog-author"></span>
                                                <span class="datetime secondary-text"><a rel="nofollow" href="http://magpress1-themelet.blogspot.com/2015/10/beach-short-on-hotel-beds-as-demand.html?showComment=1444323521140#c3928784330424662927">8 October 2015 at 09:58</a></span>
                                            </div>
                                            <p id="bc_0_0MC" class="comment-content">MagPlus Is a beautiful template for blogger..</p>
                                            <span id="bc_0_0MN" class="comment-actions secondary-text"
                                                  kind="m">
                                                <a kind="i" href="javascript:;" target="_self"
                                                   o="r">Reply</a><span class="item-control blog-admin pid-1753632537"><a o="d" target="_self" href="https://www.blogger.com/delete-comment.g?blogID=1559442196052938781&amp;postID=3928784330424662927">Delete</a></span>
                                            </span>
                                        </div>
                                        <div id="bc_0_0BR" class="comment-replies"></div>
                                        <div id="bc_0_0B_box" class="comment-replybox-single"></div>
                                    </li>
                                </ol>
                                <div id="bc_0_2I" class="continue" kind="ci" style="display: none;">
                                    <a href="javascript:;" target="_self">Add comment</a>
                                </div>
                                <div id="bc_0_2T_box" class="comment-replybox-thread">
                                    <iframe allowtransparency="true" class="blogger-iframe-colorize blogger-comment-from-post" frameborder="0" height="210px"
                                            id="comment-editor" name="comment-editor" src="https://www.blogger.com/comment-iframe.g?blogID=1559442196052938781&amp;postID=3627668647661354258&amp;blogspotRpcToken=1381529#%7B%22color%22%3A%22rgb(34%2C%2034%2C%2034)%22%2C%22backgroundColor%22%3A%22rgb(255%2C%20255%2C%20255)%22%2C%22unvisitedLinkColor%22%3A%22rgb(229%2C%2025%2C%2044)%22%2C%22fontFamily%22%3A%22Lato%2C%20sans-serif%22%7D"
                                            width="100%" style="display: block;" data-resized="true"></iframe>
                                </div>
                                <div id="bc_0_2L" class="loadmore loaded" kind="rb">
                                    <a href="javascript:;" target="_self">Load more...</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <p class="comment-footer">
            </p>
            <div class="comment-form">
                <a name="comment-form"></a>
                <p>
                </p>
                <a href="https://www.blogger.com/comment-iframe.g?blogID=1559442196052938781&amp;postID=3627668647661354258&amp;blogspotRpcToken=1381529"
                   id="comment-editor-src"></a>

                <!--Can't find substitution for tag [post.friendConnectJs]-->
                <script src="https://www.blogger.com/static/v1/jsbin/3134186057-comment_from_post_iframe.js" type="text/javascript"></script>
                <script type="text/javascript">
                    BLOG_CMT_createIframe('https://www.blogger.com/rpc_relay.html', '03152617127117022019');
                </script>
            </div>
            <p></p>
            <div id="backlinks-container">
                <div id="Blog1_backlinks-container">
                </div>
            </div>
        </div>
    </div>
</div>