<div class="tl-postShare">
    <h6>Share To:</h6>
    <ul class="tl-colored-social icon-rounded icon-zoom list-unstyled list-inline">
        <li class="tl-fbk">
            <a href="http://www.facebook.com/sharer.php?u=" rel="nofollow" target="_blank" title="Share on Facebook">
                <i class="fa fa-facebook"></i>
            </a>
        </li>
        <li class="tl-twt">
            <a href="http://twitter.com/intent/tweet?text=Beach Short On Hotel Beds As Demand Rockets This Been &amp;url=http://magpress1-themelet.blogspot.com/2015/10/beach-short-on-hotel-beds-as-demand.html"
               rel="nofollow" target="_blank" title="Share on Twitter">
                <i class="fa fa-twitter"></i>
            </a>
        </li>
        <li class="tl-gpl">
            <a href="https://plus.google.com/share?url=http://magpress1-themelet.blogspot.com/2015/10/beach-short-on-hotel-beds-as-demand.html&amp;t=Beach Short On Hotel Beds As Demand Rockets This Been "
               rel="nofollow" target="_blank" title="Share on Google +">
                <i class="fa fa-google-plus"></i>
            </a>
        </li>
        <li class="tl-lkd">
            <a href="http://www.linkedin.com/shareArticle?mini=true&amp;url=http://magpress1-themelet.blogspot.com/2015/10/beach-short-on-hotel-beds-as-demand.html&amp;title=Beach Short On Hotel Beds As Demand Rockets This Been "
               rel="nofollow" target="_blank" title="Share on Linkedin">
                <i class="fa fa-linkedin"></i>
            </a>
        </li>
        <li class="tl-pnt">
            <a href="http://pinterest.com/pin/create/button/?url=http://magpress1-themelet.blogspot.com/2015/10/beach-short-on-hotel-beds-as-demand.html&amp;media=http://1.bp.blogspot.com/-THEZiClMgl8/VhY_Qd0Qi6I/AAAAAAAAABk/DIR8ccRtmzs/s72-c/beach-short.jpg&amp;description=Beach Short On Hotel Beds As Demand Rockets This Been "
               target="_blank" title="Pin It !">
                <i class="fa fa-pinterest"></i>
            </a>
        </li>
    </ul>
</div>
