<div id="related-posts">
    <h3><span>Related Articles</span></h3>
    <ul>
        <li>
            <div class="li-rinner">
                <div class="tl-relatedthumb">
                    <a href="http://magpress1-themelet.blogspot.com/2015/10/dont-forget-that-forest-jogging-is-best.html" rel="nofollow">
                        <img alt="Don’t Forget That Forest Jogging Is The Best Stress Relief"
                             src="http://4.bp.blogspot.com/-b6RYDoCQA6E/VhY_UigH9LI/AAAAAAAAACs/4qGhgNkQs5k/w375-h250-c/forest-jogging.jpg">
                    </a>
                </div>
                <h4>
                    <a href="http://magpress1-themelet.blogspot.com/2015/10/dont-forget-that-forest-jogging-is-best.html"
                       rel="nofollow">Don’t Forget That Forest Jogging Is The Best Stress Relief</a>
                </h4>
                <div class="clear"></div>
            </div>
        </li>
    </ul>
    <div style="clear: both"></div>
</div>
