@{
    ViewBag.Title = "Home Page";
}
<div class="tl-topfeatured homepage-featured" style="margin: 25px;">
    <div class="featured-top">
        @if (ViewBag.ListTopNews != null || ViewBag.ListTopNews.Count != 0)
        {
            @Html.Partial("Home/NewsPost")
        }
        @Html.Partial("Home/Search")
        @Html.Partial("Home/FeaturedPost")
    </div>
</div>
<div class="content-wrapper main-content">
    <div class="inner container" style="max-width:100%;">
        <div class="row">

        </div>
    </div>
</div>
